
    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                <ul class="social-icon">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100029573467430"><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="https://twitter.com/StackkRocket/"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.instagram.com/ra_biu/"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="github" href="https://github.com/rabiu-dev"><i class="icon-social-github"></i></a>
                  </li>
                </ul>
                <p>Copyright © 2021 Yusuf Rabiu All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
  
      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
          <i class="icon-arrow-up"></i>
      </a>
  
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/assets/js/jquery-min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.mixitup.js"></script>
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <script src="/assets/js/waypoints.min.js"></script>
      <script src="/assets/js/wow.js"></script>
      <script src="/assets/js/jquery.nav.js"></script>
      <script src="/assets/js/jquery.easing.min.js"></script>  
      <script src="/assets/js/nivo-lightbox.js"></script>
      <script src="/assets/js/jquery.slicknav.js"></script>
      <script src="/assets/js/main.js"></script>
       <!--font awesome CDN-->
      <script src="https://kit.fontawesome.com/a16174811d.js" crossorigin="anonymous"></script>
        
    </body>
  </html>
  